<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery imageCarousel Example</title>

    <link href="css/main.css" rel="stylesheet">
</head>
<body>
    <div class="col-md-12 title-box hidden-xs">
        <h1 class="text-center">jQuery imageCarousel Example</h1>
        <div class="jquery-script-ads" style="margin:30px auto;" align="center"><script type="text/javascript"><!--
google_ad_client = "ca-pub-2783044520727903";
/* jQuery_demo */
google_ad_slot = "2780937993";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
    </div>
 

    <div class="carouselGallery-grid hidden-xs">
        <div class="row">
            <div class="carouselGallery-col-60">


<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
                



                <div class="carouselGallery-col-1 carouselGallery-carousel" data-index="0" data-username="visitsweden" data-imagetext="Photographer: @conny_lundstrom
                If you want to visit Sweden to watch and/or photograph the northern lights, Abisko is a great place to go. Although it's pretty common to see them anywhere in northern Sweden.

                Tag your photos with #visitsweden and #swedishmoments to get featured. //@deskriptiv" data-location="" data-likes="3144" data-imagepath="https://images.unsplash.com/photo-1548080556-dbdce54041fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" data-posturl="https://instagram.com/p/9_dViYwVWJ/" style="background-image:url(https://images.unsplash.com/photo-1548080556-dbdce54041fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);">
                <div class="carouselGallery-item">
                    <div class="carouselGallery-item-meta">
                        <span class="carouselGallery-item-meta-user">
                            @visitsweden
                        </span>
                        <span class="carouselGallery-item-meta-likes">
                            <span class="icons icon-heart"></span>3144
                        </span>
                    </div>
                </div>
            </div>


            <div class="carouselGallery-col-1 carouselGallery-carousel" data-index="1" data-username="visitsweden" data-imagetext="Photographer: @s_gustavsson
            Location: Gaperud, Värmland
            Tag your photos with #visitsweden and #swedishmoments to get featured. //@deskriptiv" data-location="" data-likes="5094" data-imagepath="https://images.unsplash.com/photo-1548056561-7b734e1c4576?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" data-posturl="https://instagram.com/p/96UTFPwVaN/" style="background: url(https://images.unsplash.com/photo-1548056561-7b734e1c4576?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
            <div class="carouselGallery-item">
                <div class="carouselGallery-item-meta">
                    <span class="carouselGallery-item-meta-user">
                        @visitsweden
                    </span>
                    <span class="carouselGallery-item-meta-likes">
                        <span class="icons icon-heart"></span>5094
                    </span>
                </div>
            </div>
        </div>



        <div class="carouselGallery-col-1 carouselGallery-carousel" data-index="2" data-username="visitsweden" data-imagetext="Photographer: @tannerstedtphotography
        Location: Resmo

        A perfect place for stargazing.
        Tag #visitsweden and #swedishmoments for a chance to get featured. //@deskriptiv" data-location="" data-likes="3939" data-imagepath="https://images.unsplash.com/photo-1548092689-73404d7e0b5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" data-posturl="https://instagram.com/p/92tWKsQVUN/" style="background: url(https://images.unsplash.com/photo-1548092689-73404d7e0b5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);">
        <div class="carouselGallery-item">
            <div class="carouselGallery-item-meta">
                <span class="carouselGallery-item-meta-user">
                    @visitsweden
                </span>
                <span class="carouselGallery-item-meta-likes">
                    <span class="icons icon-heart"></span>3939
                </span>
            </div>
        </div>
    </div>



    <div class="carouselGallery-col-1 carouselGallery-carousel" data-index="3" data-username="visitsweden" data-imagetext="Photographer: @plilja
    Location: Kalvträsk

    There are plenty of remote places to rest your soul in northern Sweden.

    Tag your photos with #visitsweden and #swedishmoments to get featured. //@deskriptiv" data-location="" data-likes="4626" data-imagepath="https://images.unsplash.com/photo-1548101531-a94c7003818d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" data-posturl="https://instagram.com/p/91p1nGwVVP/" style="background-image:url(https://images.unsplash.com/photo-1548101531-a94c7003818d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);">
    <div class="carouselGallery-item">
        <div class="carouselGallery-item-meta">
            <span class="carouselGallery-item-meta-user">
                @visitsweden
            </span>
            <span class="carouselGallery-item-meta-likes">
                <span class="icons icon-heart"></span>4626
            </span>
        </div>
    </div>
</div>



<div class="carouselGallery-col-1 carouselGallery-carousel" data-index="4" data-username="visitsweden" data-imagetext="Photographer: @jeppe.gustafsson
Location: Motala
It won't be long until Sweden turns into a winter wonderland.
Tag your photos with #visitsweden and #swedishmoments to get featured. //@deskriptiv" data-location="" data-likes="3652" data-imagepath="https://images.unsplash.com/photo-1548112845-e98d8c27f1a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" data-posturl="https://instagram.com/p/9y6I2YwVb1/" style="background-image:url(https://images.unsplash.com/photo-1548112845-e98d8c27f1a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);">
<div class="carouselGallery-item">
    <div class="carouselGallery-item-meta">
        <span class="carouselGallery-item-meta-user">
            @visitsweden
        </span>
        <span class="carouselGallery-item-meta-likes">
            <span class="icons icon-heart"></span>3652
        </span>
    </div>
</div>
</div>



<div class="carouselGallery-col-1 carouselGallery-carousel" data-index="5" data-username="visitsweden" data-imagetext="Photographer: @photobyqase
Location: Farsta
There's just something beautifully serene about Swedish autumn.

Remember to tag #visitsweden and #swedishmoments to get featured. //@deskriptiv" data-location="" data-likes="5358" data-imagepath="https://images.unsplash.com/photo-1548117267-fc206dd52df5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" data-posturl="https://instagram.com/p/9tuxNaQVUj/" style="background-image:url(https://images.unsplash.com/photo-1548117267-fc206dd52df5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);">
<div class="carouselGallery-item">
    <div class="carouselGallery-item-meta">
        <span class="carouselGallery-item-meta-user">
            @visitsweden
        </span>
        <span class="carouselGallery-item-meta-likes">
            <span class="icons icon-heart"></span>5358
        </span>
    </div>
</div>
</div>
</div>



<div class="carouselGallery-col-40">
    <div class="carouselGallery-col-2 carouselGallery-carousel" data-index="6" data-username="visitsweden" data-imagetext="Photographer: @alexeliassonphoto
    Location: Gamla stan

    If you ever visit Stockholm, you have to take a stroll in Gamla stan (Old town). It's like traveling back in time.

    Tag your photos with #visitsweden and #swedishmoments to get featured. //@deskriptiv" data-location="" data-likes="4151" data-imagepath="https://images.unsplash.com/photo-1548093853-ad3b02c004b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" data-posturl="https://instagram.com/p/9slFueQVQz/" style="background-image:url(https://images.unsplash.com/photo-1548093853-ad3b02c004b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);">
    <div class="carouselGallery-item">
        <div class="carouselGallery-item-meta">
            <span class="carouselGallery-item-meta-user">
                @visitsweden
            </span>
            <span class="carouselGallery-item-meta-likes">
                <span class="icons icon-heart"></span>4151
            </span>
        </div>
    </div>
</div>
</div>



</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>jQuery(function($) {

    var updateArrows = function(){
        $('.carouselGallery-right').removeClass('disabled');
        $('.carouselGallery-left').removeClass('disabled');
        var curIndex = $('.carouselGallery-carousel.active').data('index');
        updateArrows.nbrOfItems = updateArrows.nbrOfItems || $('.carouselGallery-carousel').length -1;

        curIndex === updateArrows.nbrOfItems && $('.carouselGallery-right').addClass('disabled');
        curIndex === 0 && $('.carouselGallery-left').addClass('disabled');
    }
    $('.carouselGallery-carousel').on('click', function(e){
        scrollTo = $('body').scrollTop();
       $('body').addClass('noscroll');
       $('body').css('position', 'fixed');
        $('.carouselGallery-col-1, .carouselGallery-col-2').removeClass('active');
        $(this).addClass('active');
        showModal($(this));
        updateArrows();
    });

    $('body').on('click', '.carouselGallery-right, .carouselGallery-left', function(e){
        if($(this).hasClass('disabled')) return;
        var curIndex = $('.carouselGallery-carousel.active').data('index');
        var nextItemIndex = parseInt(curIndex+1);
        if($(this).hasClass('carouselGallery-left')){
            nextItemIndex-=2;
        }
        var nextItem = $('.carouselGallery-carousel[data-index='+nextItemIndex+']');
       // console.log(nextItemIndex);
        if(nextItem.length > 0){
            $('.carouselGallery-col-1, .carouselGallery-col-2').removeClass('active');
            $('body').find('.carouselGallery-wrapper').remove();
            showModal($(nextItem.get(0)));
            nextItem.first().addClass('active');
        }
        updateArrows();
    });

    var modalHtml = '';
    showModal = function(that){
     //   console.log(that);
        var username = that.data('username'),
        location = that.data('location'),
        imagetext = that.data('imagetext'),
        likes =  that.data('likes'),
        imagepath = that.data('imagepath'),
        carouselGalleryUrl = that.data('url');
        postURL =  that.data('posturl');

        maxHeight = $(window).height()-100;

        if ($('.carouselGallery-wrapper').length === 0) {
            if(typeof imagepath !== 'undefined') {
                modalHtml = "<div class='carouselGallery-wrapper'>";
                modalHtml += "<div class='carouselGallery-modal'><span class='carouselGallery-left'><span class='icons icon-arrow-left6'></span></span><span class='carouselGallery-right'><span class='icons icon-arrow-right6'></span></span>";
                modalHtml += "<div class='container'>";
                modalHtml += "<span class='icons iconscircle-cross close-icon'></span>";
                modalHtml += "<div class='carouselGallery-scrollbox' style='max-height:"+maxHeight+"px'><div class='carouselGallery-modal-image'>";
                modalHtml += "<img src='"+imagepath+"' alt='carouselGallery image'>";
                modalHtml += "</div>";
                modalHtml += "<div class='carouselGallery-modal-text'>";
                modalHtml += "<span class='carouselGallery-modal-username'><a href='"+postURL+"'>"+username+"</a> </span>"
                modalHtml += "<span class='carouselGallery-modal-location'>"+location+"</span>";
                modalHtml += "<span class='carouselGallery-item-modal-likes'>";
                modalHtml += "<span class='icons icon-heart'></span>";
                modalHtml += "<a href='"+postURL+"'>"+likes+"</a>";
                modalHtml += "</span>";
                modalHtml += "<span class='carouselGallery-modal-imagetext'>";
                modalHtml += "<p>"+imagetext+"</p>";
                modalHtml += "</span></div></div></div></div></div>";
                $('body').append(modalHtml).fadeIn(2500);
            }
        }
    };

    $('body').on( 'click','.carouselGallery-wrapper', function(e) {
        if($(e.target).hasClass('.carouselGallery-wrapper')){
            removeModal();
        }
    });
    $('body').on('click', '.carouselGallery-modal .iconscircle-cross', function(e){
        removeModal();
    });

     var removeModal = function(){
        $('body').find('.carouselGallery-wrapper').remove();
        $('body').removeClass('noscroll');
        $('body').css('position', 'static');
        $('body').animate({scrollTop: scrollTo}, 0);
    };

    // Avoid break on small devices
    var carouselGalleryScrollMaxHeight = function() {
        if ($('.carouselGallery-scrollbox').length) {
            maxHeight = $(window).height()-100;
            $('.carouselGallery-scrollbox').css('max-height',maxHeight+'px');
        }
    }
    $(window).resize(function() { // set event on resize
        clearTimeout(this.id);
        this.id = setTimeout(carouselGalleryScrollMaxHeight, 100);
    });
    document.onkeydown = function(evt) {
        evt = evt || window.event;
        if (evt.keyCode == 27) {
            removeModal();
        }
    };

});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>


