.fixed-side {
	position: fixed;
}

.height-scroll {
  
  overflow: scroll !important;
  height: 200px
}



.bookmark {

	background-position: -15px -353px;
}


.bookmarked {

	background-position: -353px -272px;
}

.africanwear-verified {
  color: #1A97F0 !important;
}



.africanwear-mega-bg {
  background: image-url("backgrounds/africanwear-woman.jpg") no-repeat scroll center center / cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

}

.africanwear-user-base {
  background: image-url("svg/components/wave-1-bottom-sm.svg") no-repeat scroll center center / cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;


}



.africanwear-profiles-bg {
  background: image-url("rmv/750x750/img1.jpg") no-repeat scroll center center / cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

}


.africanwear-profiles-bg-2 {
  background: image-url("rmv/1920x800/img10.jpg") no-repeat scroll center center / cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

}


.africanwear-horizontal-top-bg {
  background: image-url("svg/components/bg-elements-10.svg") no-repeat scroll center center / cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

}






.wht{
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF !important;
}

.wht a:visited {

  color:#ffffff !important;
    text-decoration: none;

}

.wht a:link {

  color:#ffffff !important;
    text-decoration: none;

}

.wht a:hover {

  color:#ffffff !important;
    text-decoration: none;

}
.wht a:active {

  color:#ffffff !important;
    text-decoration: none;

}







